/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  color: red;
  padding: 10px;
}

form {
  position: fixed;
  background: blue;
  padding: 5px;
  color: orange;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  text-align: center;
  font-size: 21px;
  top: 0;
  left: 0;
  right: 0;
}

#images {
  color: blue;
  font-size: 17px;
}

#colors {
  width: 85px;
  margin: 5px;
  background: white;
}

svg {
  display: block;
  margin: 97px auto;
  width: 95%;
}

@media (min-width: 768px) {
  svg {
    width: 31%;
  }
}
