* {
  margin: 0;
  padding: 0;
}

::selection {
  background: none;
}

body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 10px;
  background: cornflowerblue;
}

h1 {
  color: orange;
}

.square {
  height: 91vmin;
  width: 91vmin;
  border: solid 3.5px cornsilk;
}

.cover {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  height: calc(100% / 3);
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  border: solid 1px cornsilk;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12vh;
  color: orange;
  text-shadow: .5px .5px .5px black;
  background: blue;
  cursor: pointer;
}

.field:hover {
  background: cornsilk;
}

.field:first-child {
  width: calc(100% / 3);
  border-left: none;
}

.field:last-child {
  width: calc(100% / 3);
  border-right: none;
}

.row:first-child .field {
  border-top: none;
}

.row:last-child .field {
  border-bottom: none;
}

.clicked {
  pointer-events: none;
  cursor: auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: cornsilk;
  text-shadow: .5px .5px .5px black;
  letter-spacing: 2px;
  font-size: 2.5vh;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: cornflowerblue;
  opacity: 1;
  z-index: 1;
}

.table {
  z-index: 15;
  text-align: center;
}

.btn,
.info-btn {
  width: 100px;
  height: 100px;
  margin: 5vh;
  background: cornflowerblue;
  border: 2.5px solid cornsilk;
  color: cornsilk;
  text-shadow: .5px .5px .5px black;
  font-size: 5rem;
  font-weight: 800;
  cursor: pointer;
}

.info-btn {
  width: 35%;
  height: 35%;
  font-size: 3.5vh;
}

.btn:hover,
.info-btn:hover {
  background: orange;
}

#info {
  position: fixed;
  top: 17.5%;
  border-radius: 3px;
  width: 91vmin;
  height: 31vmin;
  background: cornsilk;
  animation: modal 500ms forwards;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 3.1vh;
  line-height: 4.5vh;
  padding-top: 8%;
}

@media (min-width: 768px) {
  #info {
    padding-top: 1%;
    top: 1%;
  }
}

@keyframes modal {
  from {
    opacity: 0;
    transform: scale(0.01);
  }

  to {
    transform: translateY(100%) scale(1);
    opacity: 1;
  }
}
